<h1>Users</h1>

<ul>
<% @user.each do |u| %>
<% unless current_user.nil?%>
<% unless u.email == current_user.email%>
<li><%="  #{current_user.name} " %><%= "  #{current_user.email} " %>&nbsp;&nbsp;&nbsp;&nbsp;
</li>
<li><%="  #{u.name} " %><%= "  #{u.email} " %>&nbsp;&nbsp;&nbsp;&nbsp;
<%= link_to "Delete", user_path(u), :method => :delete %>
<% end %>
<% end %>
</li>
<% end %>
</ul>
