<div class="center"><h1>Sign Up</h1>
<div class="ui mini form">
<div id="formbox">
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
     <div class="field">
    <%= f.label :image%>
    <%= f.file_field :image %>
  </div>
     <div class="field">
    <%= f.label :Bio%>
    <%= f.text_area :content %>
  </div>
  <div class="field">
    </br>
    <%= f.radio_button(:teacher, "true") %>
    <%= f.label :teacher, "Teacher" %>
    <br>
    <%= f.radio_button(:teacher, "false") %>
    <%= f.label :teacher, "Student"%>
  
    </br>
  
  <div class="actions" class="ui submit button" id="submitbutton"><%= f.submit class: "btn btn-success" %></div>
  <br>
<% end %>
</div>
</div>
</div>





