<h1><%= @user.name %></h1>
<% if @user.teacher then %>
<p>Teacher</p>
<% else %>
<p>Student</p>
<% end %>
<%= image_tag @user.image, class: "pic center ui medium circular image" %>
<br>
<div id="content"><%= @user.content %></div>
<br>
<%= "Email me at #{@user.email} "%>
<br>
<br>
<br>

<% if @user.teacher == true then %>
<button class="btn btn-success"><%= link_to "Booked Lessons!", lessons_path %></button>
<br>
<br>
<button class="btn btn-success"><%= link_to "Create a lesson!", new_lesson_path %></button>
<br>
<br>
<% else %>
<button class="btn btn-success"><%= link_to "Book a lesson with an instructor!", lessons_path %></button>
<br>
<br>
<% end %>





