<h1><%= @user.name %></h1>
<% if @user.teacher then %>
<p>Teacher</p>
<% else %>
<p>Student</p>
<% end %>
<%= image_tag @user.image, class: "pic center ui medium circular image" %>
<br>
<div id="content"><%= @user.content %></div>
<br>
<%= "Email me at #{@user.email} "%>
<% if current_user.teacher == false%>
<h1>Available Lessons</h1>
<ul class= "center">
  <% @available_lessons.each do |l| %>
    <li class= "pleft">
      <div class= "center"><%= link_to "#{l.instrument} #{l.date} #{l.time}", lesson_path(l), method: "get" %></div>
    </li>
  <% end %>
<% end %>
</ul>
<br>
<br>
<br>


<% if @user.teacher == true then %>
<% if current_user.name == @user.name %>
<%= link_to "Book/View Lessons!", lessons_path, class: "btn btn-success"%>
<br>
<br>
<%= link_to "Create a lesson!", new_lesson_path, class: "btn btn-success" %>
<br>
<br>
<%= link_to "Back to teachers!", teachers_path, class: "btn btn-success" %>
<br>
<br>
<% else %>
<%= link_to "Back to teachers!", teachers_path, class: "btn btn-success" %>
<% end %>

<% else %>
<% if current_user.name == @user.name %>
<%= link_to "Book/View Lessons!", lessons_path, class: "btn btn-success" %>
<% else %>
<%= link_to "Back to students!", students_path, class: "btn btn-success" %>
<% end %>
<br>
<br>
<% end %>





