<h1><%= @user.name %></h1>
<% if @user.teacher then %>
<p>Teacher</p>
<% else %>
<p>Student</p>
<% end %>
<%= image_tag @user.image, class: "pic center ui medium circular image" %>
<br>
<div id="content"><%= @user.content %></div>
<br>
<%= "Email me at #{@user.email} "%>
<br>
<br>
<br>

<% if @user.teacher == true then %>
<%= link_to "Booked Lessons!", lessons_path, class: "btn btn-success" %>
<br>
<br>
<%= link_to "Create a lesson!", new_lesson_path, class: "btn btn-success" %>
<br>
<br>
<% else %>
<%= link_to "Book/View Lessons!", lessons_path , class: "btn btn-success"%>
<br>
<br>
<% end %>