<div class="center"><h1>Create a lesson</h1>
<div class="ui mini form">
<div id="formbox">
<%= form_for @lesson do |l| %>
  <div class="field">
    <%= l.label :instrument %>
    <%= l.text_field :instrument %>
  </div>
  <div class="field">
    <%= l.label :time %>
    <%= l.text_field :time %>
  </div>
  <div class="field">
    <%= l.label :date %>
    <%= l.text_field :date %>
  </div>
  <div class="field">
    <%= l.label :location %>
    <%= l.text_field :location %>
  </div>
    <div class="field">
    <%= l.label :content %>
    <%= l.text_field :content %>
  </div>
  </br>
  <div class="actions" class="ui submit button"><%= link_to 'Create Lesson', lessons_path %></div>
<% end %>
</div>
</div>