<h1>Lesson</h1>
<%= "Instructor: #{@creator.name}"%>
<br>
<br>
<%= "Instrument: #{@lesson.instrument}"%>
<br>
<br>
<%= "Date: #{@lesson.date}"%>
<br>
<br>
<%= "Time: #{@lesson.time}"%>
<br>
<br>
<%= "Location: #{@lesson.location}"%>
<br>
<br>
<%= "Reminders: #{@lesson.content}"%>
   
