<h1>Lesson</h1>
<%= "Instrument: #{@lesson.instrument}"%>
<br>
<br>
<%= "Date: #{@lesson.date}"%>
<br>
<br>
<%= "Time: #{@lesson.time}"%>
<br>
<br>
<%= "Location: #{@lesson.location}"%>
<br>
<br>
<%= "Reminders: #{@lesson.content}"%>
<br>
<br>
<%=link_to 'Book this lesson', enroll_path(@lesson),method: "patch"%>
   
