<h1>Lesson</h1>
<%= "Instrument: #{@lesson.instrument}"%>
<br>
<br>
<%= "Date: #{@lesson.date}"%>
<br>
<br>
<%= "Time: #{@lesson.time}"%>
<br>
<br>
<%= "Location: #{@lesson.location}"%>
<br>
<br>
<%= "Reminders: #{@lesson.content}"%>
<br>
<br>
<%= "Instructor: #{@lesson.user.name}" %>
<br>
<br>
<% if @lesson.student_id == nil && current_user.teacher == false %>
<%=link_to 'Book this lesson', enroll_path(@lesson), method: "patch", class: "btn btn-success"%>
<% end %>
<br>
<% if @lesson.student_id != nil%>
<br>
<%= link_to 'cancel this lesson', unenroll_path, method: "patch", class: "btn btn-danger"%>
<% end %>
<br>
<br>
<%= link_to 'Back to Lessons', lessons_path, class: "btn btn-success"%>

   
