<h1>Lesson</h1>
<%= "Instrument: #{@lesson.instrument}"%>
<br>
<br>
<%= "Date: #{@lesson.date}"%>
<br>
<br>
<%= "Time: #{@lesson.time}"%>
<br>
<br>
<%= "Location: #{@lesson.location}"%>
<br>
<br>
<%= "Reminders: #{@lesson.content}"%>
<br>

<% if current_user.teacher == false %>
<br>
<%= "Instructor: #{@lesson.user.name}" %>
<br>
<% end %>
<br>
<% if @lesson.student_id == nil && current_user.teacher == false %>
<%=link_to 'Book this lesson', enroll_path(@lesson), method: "patch", class: "btn btn-success"%>
<% end %>
<% if current_user.teacher == true && @lesson.student_id != nil%>
<%= "Student: #{@lesson.student.name}" %>
<br>
<% end %>
<br>
<% if @lesson.student_id != nil%>
<%= link_to 'cancel this lesson', unenroll_path, method: "patch", class: "btn btn-danger"%>
<%= link_to 'delete this lesson', delete_path, method: "delete", class: "btn btn-danger"%>
<% end %>
<br>
<br>
<%= link_to 'Back to Lessons', lessons_path, class: "btn btn-success"%>
<%= link_to 'delete this lesson', delete_path, method: "delete", class: "btn btn-danger"%>

   
