<!DOCTYPE html>
<html>
  <head>
    <title>Musician Match</title>
    <%= csrf_meta_tags %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/form.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/form.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/form.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/form.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/image.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/image.min.css"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" crossorigin="anonymous"></script>
    
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
  <h1 class="ui header center" id="title">Musician Match</h1>
    <div class="center">
    <p>
      <% if current_user %>
        Welcome, <%= current_user.name %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to 'Log Out', new_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Log In', login_path %>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <%= link_to 'Sign Up', new_user_path %>
      <% end %>
    </p>
    <%= yield %>
    </div>
  </body>
</html>
